files:
  "/opt/env-setup.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/bash

      ENVIRONMENT=$(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT)
      SERVICE_NAME=$(/opt/elasticbeanstalk/bin/get-config environment -k SERVICE_NAME)
      wget https://fileserver.sirka.io/${ENVIRONMENT}/${SERVICE_NAME}.env -O /opt/${SERVICE_NAME}.env

commands:
  01set_up_env:
    command: /opt/env-setup.sh