files:  
  /etc/systemd/system/node_exporter.service: 
    mode: "000644"
    owner: root
    group: root
    content: |
        [Unit]
        Description=Node Exporter

        [Service]
        User=root
        ExecStart=/opt/node_exporter/node_exporter

        [Install]
        WantedBy=multi-user.target
            
commands:
  01remove_node_exporter: 
    command: "rm -rf /opt/node_exporter*"
    cwd: /opt
  02download_node_exporter: 
    command: "aws s3 cp s3://sirka-infra-bucket/exporter/node_exporter-1.3.1.linux-amd64.tar.gz ."
    cwd: /opt
  03extract_node_exporter: 
    command: "tar -xvf node_exporter-1.3.1.linux-amd64.tar.gz"
    cwd: /opt
  04rename_node_exporter_directory: 
    command: "mv node_exporter-1.3.1.linux-amd64 node_exporter"
    cwd: /opt
  05mkdir_metrics_directory: 
    command: "mkdir -p /opt/node_exporter/metrics"
  06daemon_reload: 
    command: "systemctl daemon-reload"
  07start_node_exporter: 
    command: "systemctl start node_exporter"
  08enable_node_exporter: 
    command: "systemctl enable node_exporter"